* {
    height: 100%;
    /* Establece la altura en un 100% de la altura de la ventana */
    margin: 0;
    /* Elimina los márgenes por defecto */
    padding: 0;
    /* Elimina el relleno por defecto */

}

.parent1 {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.div11 {
    grid-area: 1 / 1 / 13 / 13;
    background-color: white;
}

.div21 {
    grid-area: 1 / 1 / 4 / 13;
    background-color: aqua;
}

.div31 {
    grid-area: 5 / 2 / 12 / 12;
    background-color: aqua;
}